{% extends 'pages/_base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ book.title }}{% endblock %}
{% block main %}
<div>
    {% if book.cover %}
    <img class="bookcover" src="{{ book.cover.url }}" alt="{{ book.title }}">
    {% endif %}
<h3 style="color: black">{{ book.title }}</h3>
<p>{{ book.author }}</p>
<p>{{ book.price }} $</p>
</div>
    <hr>
    <form action="" method="post">
    {% csrf_token %}
    {{ review_from|crispy }}
        <br>
    <button type="submit">Send</button>
    </form>
    <hr>
   <div>
   {% for rev in book.reviews.all %}
    <div>
    <span>{{ rev.author }}</span>
    <p>{{ rev.content }}</p>
    </div>
   {% endfor %}

   </div>
{% endblock %}